# Dependências principais
pdfminer-six>=20250506
pymupdf>=1.26.0

# Dependências de desenvolvimento (opcional)
# Descomente as linhas abaixo se quiser instalar as dependências de desenvolvimento
# notebook>=7.4.3
# pytest>=8.3.5
# ruff>=0.11.11
# taskipy>=1.14.1 